<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/math_odds_events">Math Odds Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/five_soccer">Five Soccer 8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/five_soccer_ranking">FS8 Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/calculator_drop">Calc. Drop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/fixtures">Fixtures</a>
                </li>
            </ul>
        </div>
    </div>
</nav>